<ion-header>
  <!--<ion-navbar>-->
  <!--<ion-title>Home</ion-title>-->
  <!--</ion-navbar>-->
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-right>
        鞍山
        <ion-icon name="ios-arrow-down"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="md-qr-scanner"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon name="ios-more"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div style="height:180px;">
    <ion-slides #mySlider [options]="mySlideOptions" >
      <ion-slide *ngFor="let slide of slidesInf">
        <img [src]="slide.image" class="slide-image"/>
        <h1>Slide 1</h1>
      </ion-slide>
      <ion-slide>
        <h1>Slide 2</h1>
      </ion-slide>

    </ion-slides>
  </div>
  <div style="=height: 280px;padding: 0px;text-align: center">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button outline icon-only (click)="pushItem('美食')">
            <ion-icon name="ios-restaurant-outline"></ion-icon>
          </button>
          <P>美食</P>
        </ion-col>
        <ion-col col-6>
          <button ion-button color="primary" outline icon-only  (click)="pushItem('电影')">
            <ion-icon name="ios-film-outline"></ion-icon>
          </button>
          <P>电影</P>
        </ion-col>
        <ion-col>
          <button ion-button color="danger"  outline icon-only  (click)="pushItem('酒店')">
            <ion-icon name="ios-school"></ion-icon>
          </button>
          <P>酒店</P>
        </ion-col>

        <ion-col col-6>
          <button ion-button color="secondary"  outline icon-only  (click)="pushItem('外卖')">
            <ion-icon name="ios-pizza-outline"></ion-icon>
          </button>
          <P>娱乐</P>
        </ion-col>
        <ion-col>
          <button ion-button color="danger"  outline icon-only   (click)="pushItem('自助')">
            <ion-icon name="ios-bus-outline"></ion-icon>
          </button>
          <P>外卖</P>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <button ion-button color="danger" outline icon-only  (click)="pushItem('电影')">
            <ion-icon name="ios-mic-outline"></ion-icon>
          </button>
          <P>KTV</P>
        </ion-col>
        <ion-col>
          <button ion-button color="secondary" outline icon-only (click)="pushItem('美食')">
            <ion-icon name="ios-ionitron-outline"></ion-icon>
          </button>
          <P>旅游</P>
        </ion-col>

        <ion-col>
          <button ion-button color="danger"  outline icon-only  (click)="pushItem('酒店')">
            <ion-icon name="ios-ribbon-outline"></ion-icon>
          </button>
          <P>美容</P>
        </ion-col>

        <ion-col>
          <button ion-button color="secondary"  outline icon-only  (click)="pushItem('外卖')">
            <ion-icon name="md-restaurant"></ion-icon>
          </button>
          <P>小吃</P>
        </ion-col>
        <ion-col>
          <button ion-button color="danger"  outline icon-only   (click)="pushItem('自助')">
            <ion-icon name="ios-more-outline"></ion-icon>
          </button>
          <P>更多</P>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-content>
